.cart-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cart-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.stars {
  margin-top: 20px;
  padding: 10px;
}

.star-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  object-fit: contain;
}
